*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.container{
    background-color: rgb(5, 17, 87);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%; 
}

.logo{
  color: aquamarine;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-left: 50px;
}
.cabecalho a{
    
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
   margin-left: 50px;
    text-decoration: none;


}
.cabecalho a:hover{
    color: rgb(112, 99, 82);
    
}
/*.container-corpo{
   
}*/

.mySlides {
    display:none;
    width: 100%;
    height: 500px;
    
}

.topo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
   
}
 .topo h1,h2{
    background-color: aqua;
    width: 50%;
    border-radius: 50px;
    margin: 5px auto;
}

.topo h2 img{
    width: 35px;
    border-radius: 15px;
    
}
.topo p{
    background-color: rgb(5, 17, 87);
    border-radius: 50px;

}


.publicacao{
  width: 70%;
  display: flex;
  position: relative;
  left: 200px;
  margin-top: 50px;
  gap: 15px;
  
  
}

.container-corpo2{
   max-width: 100%;
   margin: 20px auto;
}


.right{
   margin-left: 7%;
}
.right img{
    width: 400px;
    height: 300px;
   padding: 5px;
}
 
@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .cabecalho {
       text-align: center;
       
       
    }  

    .cabecalho a{
       display: block;
       margin-top: 20px;
       
    }
    .topo{
        font-size: 15px;
    }
    .topo h2 img{
        width: 20px;
        
    }
    .publicacao{
         left: 65px;
    }

  }
  @media only screen and (max-width: 830px) {
    .container{
        flex-direction: column;
        gap: 20px;
        
    }
    .cabecalho {
        align-items: center;
    
       
    }
    .topo{
        font-size: 15px;
    }
    .topo h2 img{
        width: 20px;
        
    }
    .publicacao{
         left: 50px;
    }

  }